import React from 'react';
import type { FC } from 'react';

export interface <%- componentName %>Props {}

const <%- componentName %>: FC<<%- componentName %>Props> = () => {
  return <div><%- componentName %></div>;
  };

  export default <%- componentName %>;
